*{box-sizing: border-box;}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline:none;
  }

/*div.container{background-color: inherit;}*/

#estateCont {
  display: flex;
  position: relative;
  width: 99%;
  line-height: 1.5em;
  text-align: left;
  margin: 0px auto 0px auto;
  z-index: 0;
  flex-direction: row;
  flex-wrap: wrap;
  }

#estMapCont a, 
#estateCont a{
  color:unset;
  text-decoration:none;
  }

#estMapCont a:hover,
#estateCont a:hover{
  text-decoration:none;
  }


#estMobTst{
  display:none;
  }



.estSideMenu{
  display: block;
  position: relative;
  width: 100%;
  }

#estSideMenuFeat{
  overflow-y: auto;
  overflow-x: hidden;
  }

#estMiniSrc{
  display:none;
  }
#estMiniNav{
  /*
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-size: 1.75em;
  background-color: inherit;
  padding: 8px 16px 0px 8px;
  z-index: 201000;
  box-shadow: 1px -1px 4px #0000009C;
  -webkit-box-shadow: 1px -1px 4px #0000009C;
  -moz-box-shadow: 1px -1px 4px #0000009C;
  */
  display:inline-block;
  position:relative;
  float:right;
  }

#estMiniNav a{
  margin-left:8px;
  cursor:pointer;
  }

#estMiniNav p{
  display:none;
  position:absolute;
  top: 20px;
  right: 0px;
  background-color:#FFFFFF;
  min-height:64px;
  min-width: 128px;
  margin:0px;
  padding: 6px 4px 6px 4px;
  z-index: 1010;
  box-shadow: 1px 1px 2px #0000009C;
  -webkit-box-shadow: 1px 1px 2px #0000009C;
  -moz-box-shadow: 1px 1px 2px #0000009C;
  }

#estMiniNav p a.btn{
  width: 94%;
  text-align: left;
  margin: 4px 4px;
  white-space: nowrap;
  }

#estImgGalMain{
  /*display:block;*/
  }

#estImgGalMenu{
  /*display:none;*/
  }

#estGalCont{
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: visible;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  }


#estGalCont img{
  display: flex;
  position: relative;
  height: 55vh;
  margin: 0px auto 16px auto;
  border-radius: 5px;
  }




.estExpBtn{
  display:block;
  position:absolute;
  top:0px;
  right:0px;
  width:40px;
  background-color: transparent;
  border:none;
  padding-top: inherit;
  padding-bottom: inherit;
  outline:none;
  cursor:pointer;
  }

.estSTlnk{
  cursor:pointer;
  padding-left: 2px; 
  padding-right: 2px; 
  }


.estExpBtn.estEBopen{transform: rotate(180deg);}

.estAdmView{
  color:#89776F;
  font-style:italic;
  cursor:pointer;
  }


.estPrefScale75{
  width: 133% !important;
  transform-origin: top left;
  transform: scale(0.75);
  }

/*
#estViewBoxTopPlay:checked ~ ##estSlideShow div.estSSPlayPause{
  display:none;
  background-position: 3px 0px;
  }
*/



#estSubDivCont,
#estCityCont{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  }

#estSubDivSlideShow{
  display: inline-block;
  position:relative;
  /*width: 48%;*/
  flex: 48%;
  height: calc(100vw * 0.20);
  min-height: 256px;
  margin: 0px 1em 1em 0px;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  background-position: center center;
  border: 0.35em solid transparent;
  border-radius: 8px;
  overflow: hidden;
  }

.estSSPlayPause{
  display:none;
  position:absolute;
  top:0px;
  right:0px;
  width:32px;
  height:32px;
  z-index: 2;
  background-image:url('../images/icon_playpause.png');
  background-position: -34px 0px;
  background-size: 64px 34px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  filter: drop-shadow(0px 0px 4px #F5F5F5);
  opacity: 0.65;
  }


#estSlideShow{
  display: block;
  position:relative;
  width: 100%;
  /*height: 384px;*/
  height: calc(100vw * 0.30);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  background-position: center center;
  border: 0.35em solid transparent;
  border-radius: 8px;
  overflow: hidden;
  }


#estSlideShow.estSlideshow,
#estSubDivSlideShow.estSlideshow{
  cursor:pointer;
  }

#estSlideShow.estSSPaused,
#estSubDivSlideShow.estSSPaused{
  animation-play-state: paused;
  }

#estSlideShow div.estSSPlayPause,
#estSubDivSlideShow div.estSSPlayPause{
  width:64px;
  height:64px;
  background-position: -66px 0px;
  background-size: 128px 64px;
  }

#estSlideShow.estSSPaused div.estSSPlayPause,
#estSubDivSlideShow.estSSPaused div.estSSPlayPause{
  display:block;
  }


#estSpacesCont div.estImgSlide.estSSPaused{
  animation-play-state: paused;
  }

#estSpacesCont div.estImgSlide.estSSPaused div.estSSPlayPause{
  display:block;
  }

.estImgSlide{
  display:block;
  position:relative;
  width: auto;
  height: 65vh;
  max-height: 480px;
  margin: 0px auto 0px auto;
  background-color: rgba(35,35,35,0.12);
  background-image: url('../images/imgnotavail.png');
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  }

.estImgSlide div.estSSict{
  display:block;
  position:absolute;
  bottom:0px;
  right:0px;
  background-color:rgba(250,250,250,0.75);
  color:#353535;
  text-align:center;
  padding:3px  8px 3px 8px;
  }


.estViewBox{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 100%;
  min-height:256px;
  padding: 8px 0px 32px 0px;
  margin:auto;
  line-height: 1em;
  }


.estCardCont{
  display:flex !important;
  position:relative;
  width:100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  line-height: 1em;
  }

.estFLEXCont{
  display:flex !important;
  position:relative;
  width:100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  line-height: 1em;
  }

.estFLEXCol{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  }

.estFLEX30{
  flex: 30%;
  max-width: 33%;
  }
.estFLEX45{
  flex: 45%;
  max-width: 50%;
  }
.estFLEX100{
  flex: 100%;
  }

.flexRev{
  flex-direction: row-reverse !important;
  }

.flexStretch{align-items: stretch;}

#estViewSpaceImgPvwSlider,
#estMsgModule,
#estViewSpaceBtns,
#estSavedModule{
  display:block;
  position:relative;
  padding:6px 0px 16px 0px;
  margin:0px 0px 16px 0px;
  }


.estViewSect p{
  white-space: normal;
  }


h3{
  text-align: left;
  margin-bottom: 0px;
  letter-spacing: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align:left;
  text-transform:uppercase;
  }

h3.sumCapt{
  background-color:transparent;
  white-space:normal;
  text-align:left;
  margin-bottom: 0px;
  }







.estSummaryMenu{
  display: flex;
  flex: 34%;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  background-clip: content-box;
  background-origin: padding-box;
  border: 0.35em solid transparent;
  border-radius: 8px;
  overflow: hidden;
  }

.estSummaryMenu div{
  width: 100%;
  }


.estSummaryMain{
  display: flex;
  flex: 65%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-clip: content-box;
  background-origin: padding-box;
  border: 0.35em solid transparent;
  border-radius: 8px;
  overflow: hidden;
  }


#estInfoModule1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
  }

#estInfoModule1 div.estInfoCard{
  padding-right: 24px;
  }

.estDet2Cont{
  display:block;
  position:relative;
  width:100%;
  }
.estDet2Cont div{
  display:block;
  position:relative;
  width:99%;
  line-height:1.5em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

.estDet2Cont div::before{
  content : '• ';
  position:relative;
  }


.estAgCard{
  display: block;
  position: relative;
  margin-bottom: 16px;
  }

.estAgCardInner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  text-align:left;
  }

.estSecretImg{
  display:none;
  }

.estAgtAvatar{
  display: block;
  position: relative;
  width: 96px; 
  max-width: 96px; 
  height: 112px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(35,35,35,0.12), rgba(75,75,75,0.12));
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  /*background-size: contain;*/
  background-position: center top;
  }

.estCompLogo{
  display:block;
  position:relative;
  min-width: 96px; 
  height: 96px;
  border: 0px solid transparent;
  border-radius: 5px;
  margin-bottom: 8px;
  }


.estAgtInfo1{
  display: block;
  position: relative;
  width: calc(100% - 112px);
  margin-left: 8px;
  }

.estAgtInfo1 p{
  font-size: 0.9em;
  width: 100%;
  margin: 2px 0px;
  line-height: 1.15em;
  }


.estAgtInfo1 h3,
.estAgtInfo1 h4,
.estAgtInfo1 h5{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  line-height:unset !important;
  text-transform: uppercase;
  }
.estAgtInfo1 h3{font-size: 1.25em;}
.estAgtInfo1 h4{font-size: 1.15em;}

.estAgtInfo1 h3 span{
  display: block;
  font-size: 0.8em;
  margin-bottom: 8px;
  }


#estAgCompanyCont{
  margin-top: 8px;
  }

#estAgCompanyCont img{
  display: block;
  position: relative;
  width: 96px;
  margin:4px auto;
  }

.estAgContact{
  display:block;
  position:relative;
  line-height: 1.5em;
  }



ul.estULOutside{
  list-style-position: outside !important;
  padding-left: 12px !important;
  }

ul.estULOutside li{
  list-style-position: outside !important;
  white-space: unset !important;
  overflow: visible !important;
  }
  
ul.estDet2Cont{
  text-indent: 0px;
  padding: 0px 0px 0px 22px;
  margin: 0px 0px 8px 0px;
  }


.estSideMenu ul{
  line-height:1.15em;
  }






.estViewOverFlowVis{
  overflow-x:visible;
  }


#estOHCont{
  display:block;
  position:relative;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  }
.estOHItem{
  width: 97%;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0.0625);
  border-radius: 5px;
  padding: 0px 0px 1px 0px;
  margin: 4px 0px 4px 0px;
  }

.estOHItem h4{
  display: block;
  position: relative;
  width: 100%;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 5px 5px 0px 0px;
  font-size: 1.20em;
  line-height: 1.15;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 2% 4px 2%;
  margin: 0px;
  }

.estOHItem h5{
  display:block;
  position:relative;
  width:96%;
  font-size: 1.20em;
  margin: 6px 2% 0px 2%;
  text-transform: uppercase;
  }
.estOHItem p{
  display:block;
  position:relative;
  width:96%;
  margin: 0px 2% 10px 2%;
  }



#estMapCont{
  display:block;
  position:relative;
  text-align:center;
  width: 99%;
  border-radius: 5px;
  margin: 0px auto 12px auto;
  padding: 1px 0px;
  }


#estMap{
  display:block;
  position:relative;
  width: 94%;
  height: 416px;
  margin:16px auto;
  }

.estMapPopClk{
  display:block;
  position:relative;
  width: 112px;
  margin: 0px 0px;
  padding:0px;
  text-align:center;
  }
.estMapPopThm,
.estMapPopAgyThm{
  display:block;
  position:relative;
  width: 100%;
  height: 72px;
  margin: 0px 0px 6px 0px;
  background-image: linear-gradient(0deg, rgba(35,35,35,0.12), rgba(75,75,75,0.12));
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  background-position: center center;
  }
.estMapPopAgyThm{
  height: 72px;
  background-size: contain;
  }

.estMapPopH1{
  display: block;
  position: relative;
  width: 100%;
  margin: 0px 0px 4px 0px;
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  }

.estMapPopH2{
  display: block;
  position: relative;
  width: 100%;
  max-height: 34px;
  overflow: hidden;
  margin: 0px 0px 3px 0px;
  text-align: left;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 1.1;
  }
.estMapPopAddr{
  display: block;
  position: relative;
  width: 100%;
  margin: 0px 0px 3px 0px;
  text-align: left;
  font-size: 9px;
  white-space:normal;
  text-transform: uppercase;
  line-height: 1.1;
  }
.estMapPopH2 ul{
  text-indent: 0px;
  padding: 0px 0px 0px 6px;
  margin: 0px 0px 8px 0px;
  line-height: 1.25;
  }


.estMapPopH1.estPosR{
  background-color:#FFFFFF;
  z-index:2;
  }

.estPosL{
  position:absolute;
  left:0px;
  }
.estPosR{
  position:absolute;
  right:0px;
  }





.estNoOverFlow{
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  }

.estReordMenu{
  display:none;
  position:relative;
  width:100%;
  background-color: rgba(0, 0, 0, 0.0675);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 12px 0px 12px 0px;
  text-align: left;
  text-transform: capitalize;
  }
.estReordMenu select,
.estReordMenu button{
  display:inline-block;
  position:relative;
  width:unset;
  max-width:256px;
  vertical-align:middle;
  }
  
.estReordMenu select{
  min-width:192px;
  margin:0px 0px 0px 12px;
  }
.estReordMenu .estAdmBtnSave{
  margin:0px 12px 0px 0px;
  float:right;
  }

.estTmplMenuMsg{
  display:none;
  position:relative;
  width:100%;
  clear:both;
  font-size:8pt;
  font-style:italic;
  margin:0px 12px 0px 12px;
  }

.estReordDiv,
.estReordCont{
  width:100%;
  }

.estReordHandle{
  display: none;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0675);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 12px;
  text-align: left;
  text-transform: capitalize;
  cursor: ns-resize;
  }
.estReordHandle i{
  display: block;
  position: relative;
  float: right;
  }
.estReordHandle input[type="checkbox"]{
  margin-right:8px;
  }
.estReordHandle label{
  font-weight:normal;
  cursor:pointer;
  }


/*LIST PAGE CSS*/


#estateCont.estListTiles{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  }

#estateCont div.estCard{
  display: flex;
  flex: 33%;
  /*flex-direction: column;*/
  position: relative;
  width: fit-content;
  max-width:48%;
  margin: 1em 0.125% 1em 0.125%;
  padding: 0px 1% 0px 1%;
  vertical-align: top;
  }

#estateCont div.estCard h2,
#estateCont div.estCard h3{
  overflow:visible;
  }

div.estCard:nth-of-type(even)>div.estCard:nth-of-type(odd){
  min-width: 40vw;
  }


.estCardTop{
  display:block;
  position:relative;
  padding-top: 4px;
  white-space:normal;
  min-width: 20vw;
  }

.estCardTop div{
  display:block;
  position:relative;
  width: 100%;
  font-size: 10pt;
  line-height: 1.25em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

.estCardTop div.estCardTopIcons{
  position: absolute !important;
  right: 0px;
  top:3px;
  width: 32px;
  background-color:inherit;
  cursor:pointer;
  z-index:10;
  }

.estCardTopBtn{
  position: relative;
  float: right;
  width: 32px;
  font-size:1.25em;
  border:0.10em solid transparent;
  /*border:none;*/
  background-color: transparent;
  z-index: 3;
  }


.estCardTopBtn:hover{
  text-decoration:none;
  font-size:1.35em;
  border:none;
  }

.estCardTopBtn i:nth-child(1), .estCardTopBtn svg:nth-child(1){display:block;}
.estCardTopBtn i:nth-child(2), .estCardTopBtn svg:nth-child(2){display:none;}
.estCardTopBtn.actv{color:#FF5B5B;}
.estCardTopBtn.actv i:nth-child(1), .estCardTopBtn.actv svg:nth-child(1){display:none;}
.estCardTopBtn.actv i:nth-child(2), .estCardTopBtn.actv svg:nth-child(2){display:block;}






.estCardTopTab{
  display: block;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: min-content !important;
  min-width: 40%;
  text-align: left;
  z-index: -1;
  line-height: 1;
  padding: 4px 6px;
  background-color: rgba(0,0,0,0.125);
  color: inherit;
  border-radius:3px 3px 0px 0px;
  }

.estCardTopTab h5{
  display:block;
  position:relative;
  width:100%;
  font-size: 10pt;
  font-weight:bold;
  margin: 0px;
  text-transform: uppercase;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

.estCardTopTab p{
  display: block;
  position: relative;
  width: 100%;
  font-size: 9pt;
  font-weight:normal;
  margin: 0px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

.estCardTopName{
  width: calc(100% - 32px);
  margin-top: 0px;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  }

.estCardTopFlag{
  color:#FFFFFF;
  background-color: #A80000;
  }

#estateCont div.estCardMain{
  display:block;
  position:relative;
  width:100%;
  }


.estCardImg{
  display: block;
  position: relative;
  width: 100%;
  top: unset;
  left: unset;
  height: 224px;
  background-image: linear-gradient(0deg, rgba(35,35,35,0.12), rgba(75,75,75,0.12));
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  }




.estCardTopR {
  display: block;
  position: absolute;
  top: -10px;
  right: 8px;
  color: #FFFFFF;
  border: 3px solid #E5E5E5;
  overflow: hidden;
  z-index: 1010;
  box-shadow: 1px 1px 2px #0000009C;
  -webkit-box-shadow: 1px 1px 2px #0000009C;
  -moz-box-shadow: 1px 1px 2px #0000009C;
  }



.estCardTopRImg{
  display:block;
  position:relative;
  width:96px;
  height:112px;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  background-position: center center;
  /*border: 0.35em solid transparent;*/
  }
.estCardTopRL1{
  display:block;
  position:absolute;
  bottom:0px;
  right:0px;
  width:100%;
  text-transform:uppercase;
  padding: 4px 2px 2px 2px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.125));
  }

.estCardTopRL1 div:first-child{
  display:block;
  position:relative;
  width:100%;
  font-size: 6pt;
  font-style:italic;
  text-align:center;
  line-height: 1.1em;
  white-space:nowrap;
  overflow:hidden;
  }
.estCardTopRL1 div:last-child{
  display:block;
  position:relative;
  width:100%;
  font-size: 8pt;
  font-weight:bold;
  text-align:center;
  line-height: 1.3em;
  }

.estPriceDrop{
  display:inline-block;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  padding: 0px 3px;
  /*opacity:0.85;*/
  }

.estListSummary{
  display: block;
  position: relative;
  width: 100%;
  padding: 0px 6px 0px 6px;
  }


.estPropMenuSchedCont{
  display:block;
  position:relative;
  width:100%;
  }

.estPropMenuSchedCont div{
  display:block;
  position:relative;
  width:100%;
  }

.estPropMenuSchedCont div.estPropSchedDay div{
  display:inline-block;
  position:relative;
  width:32%;
  text-align:left;
  }


.estPropViewSchedCont{
  width:100%;
  flex:100%;
  }


.estPropViewSchedCont div.estPropSchedDay{
  width:14%;
  flex:14%;
  }
  
.estPropViewSchedCont div.estPropSchedDay div{
  display:block;
  position:relative;
  width:96%;
  margin:6px auto 6px auto;
  text-align:center;
  white-space:nowrap;
  overflow:hidden;
  }

.estPropViewSchedCont div.estPropSchedDay div:first-child{
  width:98%;
  font-weight:bold;
  margin:0px auto 6px auto;
  padding:4px 0px 4px 0px;
  background-color:rgba(0,0,0,0.125);
  }

.estPropViewSchedNote1{
  display:block;
  position:relative;
  width:100%;
  margin-bottom: 8px;
  font-size:0.95em;
  font-style:italic;
  text-align:left;
  line-height: 1.1em;
  }


.estPropHistory{
  display:block;
  position:relative;
  width:100%;
  }
.estPropHistory hr{
  margin-top:0px;
  margin-bottom:16px;
  }

.estPropHistory div.estViewHistDiv{
  display:block;
  position:relative;
  width:100%;
  white-space:nowrap;
  overflow:hidden;
  margin-top: 6px;
  margin-bottom:6px;
  }

.estPropHistory div.estViewHistDiv div{
  display:inline-block;
  position:relative;
  /*font-size: 0.9em;*/
  margin:0px 0px;
  }
div.estViewHistDiv div:nth-child(1){
  width:28%;
  }
div.estViewHistDiv div:nth-child(2){
  width:40%;
  }
div.estViewHistDiv div:nth-child(3){
  position: absolute !important;
  right: 0px;
  text-align:right;
  }


#estNavMenu{
  display:block;
  position:relative;
  width:100%;
  cursor:pointer;
  }

#estNavMenu.estNavMenu{
  
  }
#estNavMenu.estNavMenu div.btnlst{
  display:block;
  width:100%;
  background-color:rgba(0,0,0,0.125);
  margin-top:6px;
  text-align:center;
  padding: 6px;
  }

#estNavMenu.estNavBar{
  background-color:rgba(0,0,0,0.125);
  text-align:left;
  padding:6px 6px 6px 6px;
  }

.estGetFullImg{
  border:4px solid transparent;
  cursor:pointer;
  }
.estGetFullImg:hover{
  border:7px solid rgba(207,207,207,0.40);
  }

.estDisclaimer{
  font-size:0.85em;
  font-style:italic;
  }
.estDisclaimer p{
  
  }


.estMarkYellow{
  filter: hue-rotate(204deg) brightness(1.5);
  }
.estMarkRed{
  filter: hue-rotate(152deg);
  }
.estMarkOrange{
  filter: hue-rotate(177deg);
  }
.estMarkGreen{
  filter: hue-rotate(266deg);
  }

.estMarkGray{
  filter: brightness(1.1) grayscale();
  }

.estNoteTxt{
  font-size:9pt;
  font-style:italic;
  text-align:left;
  line-height:1.15em;
  }

#estLayoutPrefECont{
  display:block;
  position:absolute;
  top:5px;
  left:5px;
  width: 500px;
  height: 350px;
  background-color:#CCCCCC;
  z-index:100;
  }


#estMainHelpPage div{
  padding: 8px 8px 8px 8px;
  }

#estMainHelpPage img{
  max-width:75vw;
  }

.estInstrMenuTBL{
  width:100%;
  margin-bottom:16px;
  }
.estInstrMenuTBL td{
  width:256px;
  vertical-align:top;
  padding:8px 16px 0px 16px;
  }
.estInstrMenuTBL td:nth-child(4){
  width:calc(100% - 768px);
  }
.estInstrMenuTBL td p{
  margin-top:8px;
  }

.FR{
  float:right;
  }

.WSNWRP{
  white-space:nowrap !important;
  overflow:hidden;
  text-overflow:ellipsis;
  }
.WSYWRP{
  white-space:normal !important;
  overflow:unset;
  text-overflow:unset;
  }


.FWB{font-weight:bold !important;}
.TAL{text-align:left !important;}
.TAC{text-align:center !important;}
.TAR{text-align:right !important;}
.VAB{vertical-align:bottom !important;}
.VAM{vertical-align:middle !important;}
.VAT{vertical-align:top !important;}

.FS95EM{font-size:0.95em;}
.FS9EM{font-size:0.9em;}
.FS85EM{font-size:0.85em;}
.FS8EM{font-size:0.8em;}
.FS75EM{font-size:0.75em;}
.FS7EM{font-size:0.7em;}
.FS65EM{font-size:0.65em;}
.FS6EM{font-size:0.6em;}

.FSITAL{font-style:italic;}

.WD100{width:100% !important;}
.WD96{width:96% !important;}
.WD48{width:48% !important;}
.WD32{width: 32% !important;}



.DTH128{
  display: block;
  position: relative;
  max-height:128px;
  overflow:hidden;
  overflow-wrap:break-word;
  padding-bottom:2em;
  cursor:pointer;
  }
.DTH128:after{
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 3em;
  }


.DTH128:hover{
  max-height:unset;
  }
.DTH128:hover:after{
  height: 0px;
  }


.DTH256{
  display: block;
  position: relative;
  max-height:256px;
  overflow:hidden;
  overflow-wrap:break-word;
  padding-bottom:2em;
  cursor:pointer;
  }
.DTH256:after{
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 3em;
  }

.DTH256:hover{
  max-height:unset;
  }
.DTH256:hover:after{
  height: 0px;
  }

.ILBLK{
  display:inline-block !important;
  position:relative !important;
  vertical-align:middle !important;
  }
.noPAD{
  padding:0px 0px 0px 0px !important;
  }

.noPADTB{
  padding-top:0px !important;
  padding-bottom:0px !important;
  }

.noPADLR{
  padding-left:0px !important;
  padding-right:0px !important;
  }

.noDISP{
  display:none !important;
  }


@media screen and (orientation:landscape){
  .dummy{}
  }


@media screen and (orientation:portrait){
  .dummy{}

  }




@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
  .dummy{}

  }

@media only screen and (min-device-width:1024px) and (max-device-width:1365px) and (orientation:portrait){
  .dummy{}

  }

@media only screen and (min-device-width:1024px) and (max-device-width:1365px) and (orientation:landscape){
  .dummy{}

  }





@media only screen and (min-device-width:1024px){
  .dummy{}
  
  }





@media only screen and (min-device-width:100px) and (max-device-width:480px){
  .dummy{}
  
  .noMobile{display:none !important;}
  
  #estMiniNav{}
  
  
  #estImgGalMain{
    /*display:none;*/
    }
  
  #estImgGalMenu{
    /*display:block;*/
    }
  
  #estMobTst{
    display:block;
    width:1px;
    height:1px;
    }
  
  #estSlideShow,
  #estSubDivSlideShow{
    display: block;
    height: 256px;
    }
  
  #estSlideShow div.estSSPlayPause,
  #estSubDivSlideShow div.estSSPlayPause{
    width:48px;
    height:48px;
    background-position: -48px 0px;
    background-size: 96px 48px;
    }
  
  #estMap{
    width: 100%;
    height: 256px;
    margin:16px auto 0px auto;
    }
  
  #estPlugMenu1,
  .estSideMenu{
    display:none !important;
    }
  
  #estGalCont img{
    display: block;
    position: relative;
    width: 99%;
    height: unset;
    margin: 0px auto 16px auto;
    }
  
  #estateCont.estListTiles{
    display:flex;
    }
    
  .estFLEX30,
  .estFLEX45{
    flex: 100%;
    max-width: 100%;
    }
  
  #estateCont div.estCard{
    display: flex;
    flex: 100%;
    width: 100%;
    max-width: 100%;
    }

  #estateCont div.estCard{
    display:block;
    width: 100%;
    max-width:unset;
    }
  
  div.estCard div:first-child{
    width: inherit;
    }
  
  .estCardTop div{
    padding-left: 6px;
    white-space: normal;
    /*margin-bottom: 12px;*/
    }
  
  
  .MOBH256{
    max-height:256px;
    overflow-y:auto;
    }
  .MOBH312{
    max-height:312px;
    overflow-y:auto;
    }
  
  .estCardMain{
    display:block;
    position:relative;
    max-width: unset;
    }
  
  
  }



