
#estMsgWarn,
#estMsgPrevDiv,
#estMsgResult{
  display: block;
  position: relative;
  width: 96%;
  margin: 4px auto 12px auto;
  line-height: 1.15em;
  }
#estMsgResult p{
  margin: 4px 0px 4px 0px;
  }

#estInBoxBtn{
  cursor:pointer;
  }
#estInBoxCont{
  display: block;
  position: relative;
  width: 100%;
  background-color: inherit;
  }
#estInBoxCont div.estInBoxSect{
  display:block;
  position: relative;
  width: 100%;
  background-color: inherit;
  }



#estInBoxCont button.estSectBtn{
  width:100%;
  margin: 2px 0px 6px 0px;
  text-align:left;
  cursor:pointer;
  }


#estInBoxCont h4,
#estMsgPrevDiv h4{
  width:100%;
  margin: 0px;
  text-align:left;
  cursor:pointer;
  }


.estMsgBelt{
  position: relative;
  width: 100%;
  margin: 0px 0px 16px 0px;
  background-color:inherit;
  }


#estMsgPrevDiv div.estMsgBelt{
  display: none;
  height:0px;
  max-height:256px;
  overflow-y:auto;
  }


.estMsgBelt div.estMsgBtn{
  margin-top:2px;
  background-color: inherit;
  }
.estMsgBelt div.estMsgBtn button{
  width: 100%;
  text-align: left;
  padding: 4px 16px 4px 4px;
  white-space: nowrap;
  overflow: hidden;
  }

.estMsgP h4 i,
.estMsgP h4 svg,
.estMsgBelt div.estMsgBtn button i,
.estMsgBelt div.estMsgBtn button svg{
  float:right;
  }



.estMsgBelt div.estMsgP{
  display:none;
  position:relative;
  width: 100%;
  line-height: 1.25em;
  text-align: left;
  background-color: rgba(32, 32, 32, 0.0625);
  /*background-color: inherit;*/
  /*border-top: none;*/
  /*border-right: 1px solid rgba(0, 0, 0, 0.125);*/
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.125);*/
  /*border-left: 1px solid rgba(0, 0, 0, 0.125);*/
  border-radius: 0px 0px 3px 3px;
  padding: 8px 2%;
  margin: 0px auto 16px auto;
  }

.estMsgBelt div.estMsgP div.estInBoxHead{
  display:block;
  position:relative;
  width:100%;
  border:1px solid rgba(0,0,0,0.25);
  margin: 0px 0px  0px 0px;
  padding: 12px 2% 12px 2%;
  }


.estMsgBtnBlock{
  position:relative;
  width:100%;
  padding:0px;
  margin: 0px;
  white-space:nowrap;
  overflow:hidden;
  }


.estMsgBtnBlock div:first-child{
  display:inline-block !important;
  position:relative;
  width:calc(100% - 82px) !important;
  margin:0px !important;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-right:0px;
  vertical-align:middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }


.estMsgBtnBlock div:nth-child(2){
  display:inline-block !important;
  position:relative;
  width:38px !important;
  margin:0px !important;
  text-align: center !important;
  border-radius:0px;
  border-left:0px;
  border-right:0px;
  vertical-align:middle;
  }
.estMsgBtnBlock div:last-child{
  display:inline-block !important;
  position:relative;
  width:38px !important;
  text-align: center !important;
  margin:0px !important;
  vertical-align:middle;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  border-left:0px;
  }

.estMsgBtnAct{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  margin-bottom:0px !important;
  }

#estMsgFormTabl{
  margin:0px;
  }

#estMsgModule fieldset{
  width: 93%;
  }

#estMsgFormTB fieldset legend{
  display: block;
  width: 100%;
  font-size:9pt;
  text-align:left;
  font-style:italic;
  padding: 0;
  margin: 0px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: none;
  }

#estMsgCCdiv{padding: 4px 2px 0px 4px;}
#estMsgCCdiv label{
  font-size:10pt;
  font-weight:normal;
  margin-left:6px;
  vertical-align: middle;
  cursor:pointer;
  }


#estMsgTerms{
  display: block;
  position: relative;
  width: 97%;
  font-size: 9pt;
  text-align: left;
  margin: 2px auto 12px auto;
  }

.estChkMsg{border:1px solid rgba(128,128,128,0.7);}
.estMsgNG{border:1px solid #AA0000;}


.estNoteTxt{
  font-size:9pt;
  font-style:italic;
  text-align:left;
  line-height:1.15em;
  }

@media screen and (orientation:landscape){
  .dummy{}
  }

@media screen and (orientation:portrait){
  .dummy{}

  }

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
  .dummy{}

  }

@media only screen and (min-device-width:1024px) and (max-device-width:1365px) and (orientation:portrait){
  .dummy{}

  }

@media only screen and (min-device-width:1024px) and (max-device-width:1365px) and (orientation:landscape){
  .dummy{}

  }


@media only screen and (min-device-width:1024px){
  .dummy{}
  
  }


@media only screen and (min-device-width:100px) and (max-device-width:480px){
  .dummy{}
  
  }
