/* CSS Document */

td{
  position: relative;
  }

.admin-ui-help-tip{
  padding-top: 2px;
  font:normal normal normal 14px/1 FontAwesome !important;
  font-size: 18px;
  cursor: help;
  color: rgba(127, 127, 127, 0.7);
  float: right !important;
  margin-left: 5px;
  }

.has-feedback-left input{
  padding-left: 30px;
  }


input[type="file"]{
  display:none !important;
  }
input[type="number"]{
  text-align:center;
  }

.input-small{
  width:96px !important;
  }

#estCommunityPreviewCont{
  display:block;
  position:relative;
  width:100%;
  min-height:64px;
  /*border:1px solid rgba(0,0,0,0.25);*/
  /*padding:1em;*/
  }



#estEmlNote{
  display: table-cell;
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  color:#000000;
  background-color:#FFFFFF;
  text-align:center;
  padding-top:10vh;
  padding-bottom:10vh;
  z-index: 100005;
  }

.estOABlock{
  display:block;
  position: relative;
  width: 100%;
  margin: 6px auto 6px auto;
  border:1px solid #ABABAB;
  background-color:inherit;
  background-origin: padding-box;
  }
  
.estOABlock h3{
  display:block;
  position:relative;
  white-space:nowrap;
  cursor:pointer;
  padding: 6px;
  margin: 0px 0px 0px 0px !important;
  background-color: rgba(128, 128, 128, 0.25);
  }

.estOABlock h3 div{
  display: inline-block;
  position:relative;
  width:90%;
  text-overflow:ellipsis;
  }


.estOABlock div.estOATabCont{
  display:block;
  position: relative;
  width: 100%;
  background-color: inherit;
  color: inherit;
  text-align: left;
  line-height: 1.15em;
  padding: 12px 12px 12px 12px;
  /*overflow:hidden;*/
  }

.estOABlock.expand div.estOATabCont{
  display:block;
  height:unset;
  }

.estOABlock div.estOATabCont input[type="text"],
.estOABlock div.estOATabCont input[type="number"],
.estOABlock div.estOATabCont select,
.estOABlock div.estOATabCont button,
#estPopCont input[type="text"],
#estPopCont input[type="number"],
#estPopCont select,
#estPopCont button,
#estPopCont div.estPdropPct{
  height: 38px;
  min-width: 38px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px !important;
  line-height: 18px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  outline: none;
  }

.estOABlock div.estOATabCont textarea,
#estPopCont textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 6px 12px !important;
  outline: none;
  }

#estPopCont h3 button{
  height: 30px;
  font-size: 12px !important;
  padding: 6px 12px !important;
  outline: none;
  }


table.estOATable1{
  width: 100%;
  background-color: inherit;
  }

table.estOATable1 tr{
  border-bottom:1px solid rgba(128,128,128,0.5);
  }
table.estOATable1 tr:first-child{
  border-top:1px solid rgba(128,128,128,0.5);
  }
table.estOATable1 th,
table.estOATable1 td{
  padding: 6px;
  }

table.estOATable1 colgroup:first-child{
  width:15%;
  min-width: 128px;
  }

table.estOATable1 colgroup:last-child{
  }


.estInptCont button:last-child
.estInptCont div button:last-child{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  }


.WD144px{
  width:144px !important;
  }

.WD192px{
  width:192px !important;
  }
.WD256px{
  width:256px !important;
  }

.WD85{width:85% !important;}
.WD75{width:75% !important;}
.WD65{width:65% !important;}
.WD55{width:55% !important;}
.WD45{width:45% !important;}

#estate-gallery-tabl{
  width:100%;
  }

#estate-gallery-tabl tr{
  }
#estate-gallery-tabl thead tr th{
  padding: 6px;
  text-transform:uppercase;
  }
#estate-gallery-tabl tr td{
  }


.estCalTbl tr th,
.estCalTbl tr td{
  text-align:center;
  width:14.285%;
  }

.estCalTbl input,
.estCalTbl button{
  width:100%;
  }



table.estOAMap{
  width: 100%;
  }
table.estOAMap th,
table.estOAMap td{
  padding: 6px;
  }

table.estOAMap colgroup:first-child{
  width:15%;
  }
table.estOAMap colgroup:nth-child(2){
  width:60%;
  }

table.estOAMap colgroup:last-child{
  width:25%;
  }

table.estOAMap tr{
  border-bottom:1px solid rgba(128,128,128,0.5);
  }
table.estOAMap tr:first-child{
  border-top:1px solid rgba(128,128,128,0.5);
  }

.estMapCont{
  width: 50vw;
  }


@media only screen and (min-device-width:100px) and (max-device-width:480px){
  .dummy{}
  
  
  .estOABlock h3{
    display:block;
    }
  .estOABlock h3 div{
    display: inline-block;
    position:relative;
    width:90%;
    text-overflow:ellipsis;
    }
  
  .estOABlock h3::after{
    content:"▼"; /*‹  † © ® » « §*/
    position: absolute;
    right: 8px;
    }
  
  .estOABlock.expand h3::after{
    content:"▲"; 
    }
  
  .estOABlock div.estOATabCont{
    display:none;
    padding: 12px 12px 12px 12px;
    }
  
  .estOABlock.expand div.estOATabCont{
    display:block;
    width: 100%;
    height:unset;
    padding: 0px;
    overflow-x: auto;
    }
  
  .estOABlock.expand div.estOATabCont table{
    
    }
  
  .estOABlock.expand div.estOATabCont table tr{
    
    }
  
  .estOABlock.expand div.estOATabCont table tr th:nth-child(1),
  .estOABlock.expand div.estOATabCont table tr td:nth-child(1){
    width:12%;
    }
  .estOABlock.expand div.estOATabCont table tr th:nth-child(2),
  .estOABlock.expand div.estOATabCont table tr td:nth-child(2){
    width:unset;
    }
  
  
  
  .upldPvwBtn {
    display: inline-block;
    width: 7em;
    max-width: 97%;
    height: 7em;
    }
  
  
  
  }


