/* CSS Document: OVERVIEW SECTION LAYOUT */
img {
  max-width: 100%;
  vertical-align: middle;
}

.trigger {
  display: none;
}

.estSlider, .estSlider-wrapper {
  position: relative;
  height: 250px;
}

.estSlide {
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.estSlide-img {
  filter: brightness(50%);
  height: 100%;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}

.estSlide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.estSlide-caption {
  position: absolute;
  bottom: 30%;
  width: calc(100% - 1rem);
  color: white;
  text-align: center;
  left: 50%;
}

.trigger:checked + .estSlide {
  z-index: 6000;
  opacity: 1;
}

.estSlider-nav {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.estSlider-nav__item {
  display: inline-block;
}

.estSlider-nav__label {
  font-size: 13px;
  background-color: #333;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.estSlider-nav__label:hover,
.estSlider-nav__label:active,
.estSlider-nav__label:focus {
  background-color: gray;
  color: black;
}

@media only screen and (min-width: 1024px) {
  .estSlider, .estSlider-wrapper {
    height: 480px;
  }

  .estSlide-caption {
    width: 65%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .estSlider, .estSlider-wrapper {
    height: 360px;
  }

  .estSlide-caption {
    width: 75%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .estSlide-img {
    width: 100%;
    height: auto;
  }
}





.estSlide {
  position: absolute;
  z-index: 5000;
  ...
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.trigger:checked + .estSlide {
  z-index: 6000;
  opacity: 1;
}


